In [109]:
import numpy as np
import pandas as pd

In [110]:
df = pd.read_csv('baseball_shop.csv',
                 delimiter=',', skiprows=0, header=0)
print(df.shape)
print(df.dtypes)

df_head = pd.read_csv('baseball_shop.csv', delimiter='\n', dtype='object',
                      skiprows=None, header=None, nrows=5)
display(df_head)

(376, 5)
ShopID      int64
Pref       object
Product    object
Price       int64
Amount      int64
dtype: object

                                  0
0  ShopID,Pref,Product,Price,Amount
1          18,Kanagawa,BAT,13800,10
2      18,Kanagawa,UNIFORM,11800,12
3        18,Kanagawa,GLOVE,16700,10
4        18,Kanagawa,SHOES,12800,10

In [111]:
print(df['Pref'].value_counts())

Tokyo       68
Kanagawa    68
Chiba       64
Saitama     48
Ibaraki     48
Tochigi     40
Gunma       40
Name: Pref, dtype: int64

In [112]:
shopIDs= df['ShopID'].unique()
print(len(shopIDs))

94

In [113]:
sales= df['Price'] * df['Amount']
df['Sales']= sales

In [114]:
total_sales= df['Sales'].sum()
print(total_sales)

37283200

In [115]:
df_sum = df.groupby('Pref').sum().reset_index()
print(df_sum[['Pref', 'Sales']])

       Pref    Sales
0     Chiba  5343100
1     Gunma  4021000
2   Ibaraki  4513500
3  Kanagawa  5813100
4   Saitama  5276800
5   Tochigi  3296300
6     Tokyo  9019400

In [116]:
print(df_sum[df_sum.Sales == df_sum.Sales.min()]['Pref'])

5    Tochigi
Name: Pref, dtype: object

In [117]:
df_sum2= df.groupby(['Pref', 'Product']).sum().reset_index()
df_sum2.loc[(df_sum2['Pref'] == 'Chiba') & (df_sum2['Product'] == 'UNIFORM')]['Sales']

3    1534000
Name: Sales, dtype: int64