In [1]:
import numpy as np
import pandas as pd
import scipy.stats as ss

In [2]:
csv_in = 'dm-04-quiz.csv'

In [3]:
df = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
print(df.shape)
print(df.info())
display(df.head())

(70, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Medicine  70 non-null     object
 1   #Days     70 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.2+ KB
None

  Medicine  #Days
0        A     15
1        A     13
2        A     14
3        A     14
4        A     15

In [ ]:
t, p = ss.ttest_1samp(df['Sales2']-df['Sales1'], 0.0)
print(t, p/2)