In [3]:
import numpy as np
import pandas as pd

In [4]:
csv_in = 'ai-mid-p1.csv'

In [5]:
df = pd.read_csv(csv_in, delimiter=',', skiprows=2, header=0)
print(df.shape)
print(df.info())
display(df.head())

(100, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   price       100 non-null    int64
 1   horsepower  99 non-null     float64
 2   width       100 non-null    float64
 3   height      100 non-null    float64
dtypes: float64(3), int64(1)
memory usage: 3.2 KB
None

   price  horsepower  width  height
0  10245        84.0   66.5    55.5
1  15250       110.0   66.3    53.1
2   5572        68.0   63.8    50.8
3  34028       207.0   65.0    51.6
4  10945       101.0   65.7    49.6

In [7]:
display(df[df.isnull().any(axis=1)])

    price  horsepower  width  height
10  13499         NaN   66.5    55.1

In [10]:
df = df.dropna().reset_index(drop=True)
print(df.shape)
display(df.head())

(99, 4)

   price  horsepower  width  height
0  10245        84.0   66.5    55.5
1  15250       110.0   66.3    53.1
2   5572        68.0   63.8    50.8
3  34028       207.0   65.0    51.6
4  10945       101.0   65.7    49.6

In [11]:
df['width'].mean()

65.92525252525253

In [12]:
df['price'].max()

40960

In [15]:
df['horsepower_per_width']= df['horsepower'] / df['width']
df['horsepower_per_width'].idxmax()

37