In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

from sklearn.preprocessing import StandardScaler
#from sklearn import preprocessing

In [38]:
csv_in = 'ai-mid-p5.csv'

In [39]:
df = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
print(df.shape)
print(df.info())
display(df.head())

(178, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   alcohol     178 non-null    float64
 1   malic_acid  178 non-null    float64
 2   ash         178 non-null    float64
 3   class       178 non-null    object
dtypes: float64(3), object(1)
memory usage: 5.7+ KB
None

    alcohol  malic_acid       ash class
0  1.518613   -0.562250  0.232053     A
1  0.246290   -0.499413 -0.827996     A
2  0.196879    0.021231  1.109334     A
3  1.691550   -0.346811  0.487926     A
4  0.295700    0.227694  1.840403     A

In [40]:
df_data = df.loc[:, 'alcohol':'ash']
print(df_data.shape)
print(df_data.info())
display(df_data.head())

(178, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   alcohol     178 non-null    float64
 1   malic_acid  178 non-null    float64
 2   ash         178 non-null    float64
dtypes: float64(3)
memory usage: 4.3 KB
None

    alcohol  malic_acid       ash
0  1.518613   -0.562250  0.232053
1  0.246290   -0.499413 -0.827996
2  0.196879    0.021231  1.109334
3  1.691550   -0.346811  0.487926
4  0.295700    0.227694  1.840403

In [41]:
sc = StandardScaler()
X_std = sc.fit_transform(df_data)

In [42]:
n_cls = 3
km = KMeans(n_clusters=n_cls, random_state=20)
cls = km.fit_predict(df_data)

In [43]:
print(cls)

[2 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 1 2 1 2 2 2 2 2 0 2 2 2 2 2 2 2 2 2
 2 0 1 2 1 2 1 0 1 1 2 2 2 0 2 2 2 2 2 2 2 2 0 0 0 0 0 0 0 0 0 2 0 0 2 2 2
 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 1 0 0 2 1 1 1 0 0 0 0 1 0 1 0 1 0 0 1 1 1 1 1 2 1 1 1 1 1 1
 1 1 1 1 2 1 0 1 1 1 2 2 1 1 1 1 2 1 1 1 2 1 0 0 2 1 1 1 2 1]

In [44]:
unique, counts = np.unique(cls, return_counts=True)
dict(zip(unique, counts))

{0: 70, 1: 48, 2: 60}

In [45]:
ct = pd.crosstab(df['class'], cls)
display(ct)

col_0   0   1   2
class
A       5   7  47
B      58   8   5
C       7  33   8