In [1]:
import numpy as np
import pandas as pd
import scipy.stats as ss

In [2]:
csv_in = 'dm-04-quiz.csv'
df = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
print(df.shape)
display(df.head())

(70, 2)

  Medicine  #Days
0        A     15
1        A     13
2        A     14
3        A     14
4        A     15

In [3]:
df_A = df[ df['Medicine']=='A' ]
df_B = df[ df['Medicine']=='B' ]
print(df_A.shape)
print(df_B.shape)

(40, 2)
(30, 2)

In [4]:
t, p = ss.ttest_ind(df_A['#Days'], df_B['#Days'], equal_var=False)
print(t, p/2)

3.935973607140801 0.00010261728069921638