In [25]:
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.svm import SVC
from sklearn.svm import SVR
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [26]:
csv_in = 'ai-end1-2.csv'

In [27]:
df = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
print(df.shape)
print(df.info())
display(df.head())

(100, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   target                        100 non-null    int64
 1   alcohol                       100 non-null    float64
 2   malic_acid                    100 non-null    float64
 3   ash                           100 non-null    float64
 4   alcalinity_of_ash             100 non-null    float64
 5   magnesium                     100 non-null    float64
 6   total_phenols                 100 non-null    float64
 7   flavanoids                    100 non-null    float64
 8   nonflavanoid_phenols          100 non-null    float64
 9   proanthocyanins               100 non-null    float64
 10  color_intensity               100 non-null    float64
 11  hue                           100 non-null    float64
 12  od280/od315_of_diluted_wines  100 non-null    float64
 13  proline                       100 non-null    float64
dtypes: float64(13), int64(1)
memory usage: 11.1 KB
None

,target,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,1,12.04,4.30,2.38,22.0,80.0,2.10,1.75,0.42,1.35,2.60,0.79,2.57,580.0
1,1,13.05,3.86,2.32,22.5,85.0,1.65,1.59,0.61,1.62,4.80,0.84,2.01,515.0
2,0,13.48,1.81,2.41,20.5,100.0,2.70,2.98,0.26,1.86,5.10,1.04,3.47,920.0
3,2,13.50,3.12,2.62,24.0,123.0,1.40,1.57,0.22,1.25,8.60,0.59,1.30,500.0
4,1,12.42,1.61,2.19,22.5,108.0,2.00,2.09,0.34,1.61,2.06,1.06,2.96,345.0

In [28]:
X = df.loc[:, 'alcohol':]
y = df['target']
print(X.shape)
print(y.shape)

(100, 13)
(100,)

In [29]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=8, stratify=y)

In [30]:
print(X_test.shape)
print(y_test.shape)
print("Number of class 0 in train data:\n", y_train.value_counts())
print("Number of class 0 in test data:\n", y_test.value_counts())

(30, 13)
(30,)
Number of class 0 in train data:
 1    29
0    22
2    19
Name: target, dtype: int64
Number of class 0 in test data:
 1    12
0    10
2     8
Name: target, dtype: int64

In [31]:
sc = MinMaxScaler(feature_range=(0, 1), copy=True)
sc.fit(X_train)
X_train_std = sc.transform(X_train)

In [32]:
svc = SVC(kernel='rbf', C=0.2, gamma=3)
svc.fit(X_train_std, y_train)

SVC(C=0.2, gamma=3)

In [33]:
y_train_pred = svc.predict(X_train_std)

In [34]:
print('accuracy(Q3) for train data:', accuracy_score(y_train, y_train_pred))

ct_pred = pd.crosstab(y_train, y_train_pred)
display(ct_pred)

accuracy(Q3) for train data: 0.9571428571428572

col_0    0   1   2
target
0       21   1   0
1        0  29   0
2        0   2  17

In [35]:
X_test_std = sc.transform(X_test)

In [36]:
y_test_pred = svc.predict(X_test_std)

In [37]:
print('accuracy(Q3) for test data:', accuracy_score(y_test, y_test_pred))

ct_test = pd.crosstab(y_test, y_test_pred)
display(ct_test)

accuracy(Q3) for test data: 0.7333333333333333

col_0   0   1  2
target
0       7   3  0
1       0  12  0
2       0   5  3