In [1]:
import numpy as np
import pandas as pd
import scipy.stats as ss

In [2]:
csv_in = 'cars.csv'

In [3]:
df = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
print(df.shape)
print(df.info())
display(df.head())

(100, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   FamilyID  100 non-null    int64
 1   Have_Car  100 non-null    int64
dtypes: int64(2)
memory usage: 1.7 KB
None

   FamilyID  Have_Car
0         1         0
1         2         1
2         3         0
3         4         0
4         5         0

In [4]:
alpha = 0.95
x = df['Have_Car']
n = df.shape[0]
ave = np.mean(x)
se = ss.sem(x)

lower, upper = ss.t.interval(alpha, loc=ave, scale=se, df=n-1)
print(lower, upper)

0.5127322702903188 0.7072677297096812

Answer: [ 0.51, 0.71 ]