### dm-12-quiz

#### Import libraries

In [42]:
import numpy as np
import pandas as pd
import pyfpgrowth

#### Parameters

In [43]:
csv_in = 'dm-12-quiz.csv'

#### Read CSV file

In [44]:
df = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=None)
print(df.shape)
print(df.info())
display(df.head())

(319, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       319 non-null    object
 1   1       319 non-null    object
dtypes: object(2)
memory usage: 5.1+ KB
None

           0       1
0  InvoiceNo  ItemNo
1       T001       5
2       T001       4
3       T001       6
4       T002       2

In [45]:
ser_items = pd.Series(df.values.flatten())
top_items = ser_items.value_counts()
print(top_items.head())

2    74
3    60
4    48
1    47
6    37
dtype: int64

In [46]:
id2item = sorted(list(set(df.values.flatten())))  # sort to fix order of items
print(len(id2item))  # debug
print(id2item[:5])  # debug
item2id = {}
for i in range(len(id2item)):
    item2id[id2item[i]] = i

159
['1', '2', '3', '4', '5']

In [47]:
df_id = df.applymap(lambda x: item2id[x])
display(df_id.head())

    0  1
0   7  8
1   9  4
2   9  3
3   9  5
4  10  1

In [48]:
invoices = []
for i in range(df_id.shape[0]):
    ser = df_id.loc[i]
    s = ser[ ser>0 ]
    invoices.append(s)
print(len(invoices))

319

In [49]:
%time patterns = pyfpgrowth.find_frequent_patterns(invoices, 5)

Wall time: 6.76 ms

In [50]:
%time rules = pyfpgrowth.generate_association_rules(patterns, 0.3)

Wall time: 0 ns

In [51]:
print(patterns)

{(4,): 22, (6,): 30, (5,): 37, (3,): 48, (2,): 60, (1,): 74}

In [52]:
print(rules)

{}

In [53]:
results = []
for x in rules:
    ret = [x, rules[x][0], rules[x][1]]
    results.append(ret)
df_res = pd.DataFrame(results)
df_res.columns = ['LHS', 'RHS', 'Conf']

ValueError: Length mismatch: Expected axis has 0 elements, new values have 3 elements