### AI-10 Quiz

#### Import libraries

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.svm import SVR
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from joblib import dump

#### Parameters

In [13]:
csv_in = 'ai-10-quiz.csv'

#### Read CSV file

In [14]:
df = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
print(df.shape)
print(df.info())
display(df.head())

(200, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   f1      200 non-null    float64
 1   f2      200 non-null    float64
 2   f3      200 non-null    float64
 3   b       200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB
None

     f1    f2    f3      b
0  6.11  9.35  6.03  48.30
1  9.59  7.44  8.06  46.00
2  8.83  7.59  6.48  46.02
3  5.94  5.40  8.69  42.45
4  7.21  5.79  9.40  43.03

#### Get X and y

In [15]:
X = df.loc[:, 'f1':'f3']  # explanatory variables
y = df['b']  # objective variable
print('X:', X.shape)
display(X.head())
print('y:', y.shape)
print(y.head())

X: (200, 3)

     f1    f2    f3
0  6.11  9.35  6.03
1  9.59  7.44  8.06
2  8.83  7.59  6.48
3  5.94  5.40  8.69
4  7.21  5.79  9.40

y: (200,)
0    48.30
1    46.00
2    46.02
3    42.45
4    43.03
Name: b, dtype: float64

#### Split X and y for train and test

In [16]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=29)

#### Scaling

In [17]:
sc = MinMaxScaler(feature_range=(0, 1), copy=True)
sc.fit(X_train)
X_train_std = sc.transform(X_train)

#### Parameters for SVR

In [18]:
C = 1.0
gamma = 'scale'
epsilon = 0.01

#### Execute SVR

In [19]:
svr = SVR(gamma=gamma, C=C, epsilon=epsilon)
svr.fit(X_train_std, y_train)

SVR(epsilon=0.01)

#### Do prediction using train data

In [20]:
y_train_pred = svr.predict(X_train_std)

#### Scaling of Test data and do prediction

In [21]:
X_test_std = sc.transform(X_test)
y_test_pred = svr.predict(X_test_std)

#### Check MSE

In [22]:
mse_test = mean_squared_error(y_test_pred, y_test)
print('MSE (test):', mse_test)

MSE (test): 2.661307134590273

**Ans. 2.611**