In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.svm import SVC
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [10]:
csv_in = 'ai-09-quiz.csv'

In [11]:
df = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
print(df.shape)
print(df.info())
display(df.head())

(350, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c1      350 non-null    float64
 1   c2      350 non-null    float64
 2   c3      350 non-null    float64
 3   c4      350 non-null    float64
 4   type    350 non-null    object
dtypes: float64(4), object(1)
memory usage: 13.8+ KB
None

     c1    c2    c3    c4 type
0  5.22  8.61  1.60  0.13   t1
1  3.80  8.05  1.70  0.06   t1
2  3.66  6.85 -1.59  0.28   t1
3  2.14  7.55 -0.38 -0.25   t1
4  3.99  8.57  1.16 -1.50   t1

In [12]:
X = df.loc[:, :'c4']
y = df['type']
print(X.shape)
print(y.shape)

(350, 4)
(350,)

In [13]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=7, stratify=y)

In [14]:
sc = MinMaxScaler(feature_range=(0, 1), copy=True)
sc.fit(X_train)
X_train_std = sc.transform(X_train)

In [15]:
svc = SVC(kernel='rbf', C=1.0, gamma='scale')
svc.fit(X_train_std, y_train)

SVC()

In [16]:
y_train_pred = svc.predict(X_train_std)

In [17]:
print('accuracy(Q2) for train data:', accuracy_score(y_train, y_train_pred))

ct_pred = pd.crosstab(y_train, y_train_pred)
display(ct_pred)

accuracy(Q2) for train data: 0.9591836734693877

col_0  t1  t2  t3
type
t1     70   0   0
t2      0  69   1
t3      7   2  96

In [18]:
X_test_std = sc.transform(X_test)

In [19]:
y_test_pred = svc.predict(X_test_std)

In [20]:
print('accuracy(Q2) for test data:', accuracy_score(y_test, y_test_pred))

ct_test = pd.crosstab(y_test, y_test_pred)
display(ct_test)

accuracy(Q2) for test data: 0.9619047619047619

col_0  t1  t2  t3
type
t1     29   0   1
t2      0  30   0
t3      2   1  42